.seccion3 {
    background: #e4b4b4;
    justify-content: center;
    margin: 5px;

    p {
        margin: 5px;
        padding: 10px;
        text-align: center;
        font-family: "Raleway", sans-serif;
        color: #043539;
        font-size: 16px;
    }

    h3 {
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        color: #043539;
        font-size: 25px;
    }
}

.form_text {
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #043539;
    font-size: 16px;
}


